<form action="/mostrarDatos">
    <h3>IronFinder</h3>
    <input type="text" placeholder="Ingresa el nombre del usuario..." name="usuario">
    <input type="datetime-local" name="fecha">
    <input type="password" name="password" />
    <button type="submit">Buscar el usuario</button>
    {{!-- <input type="submit"/> --}}
</form>