<!-- POST -->
<form action="/guardarPokemon" method="post">
    <input type="text" placeholder="Nombre" name="name">
    <input type="text" placeholder="Url" name="url">
    <select name="type">
        <option value="electricidad">Electricidad</option>
        <option value="planta">Planta</option>
        <option value="fueguito">Fueguito</option>
        <option value="aguita">Aguita</option>
    </select>
    <label for="vivo">Vivo</label>
    <input type="checkbox" id="vivo" name="vivo">
    <button type="submit">Guardar...</button>
</form>